.questionBody {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between;  */
  margin-top: 5%;
  border-bottom: #000000 1px dashed;
}

.edit-icon-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #555;
  display: flex;
  align-items: center;
}

.edit-icon-button:hover {
  color: #000;
}

.answer_question_view {
  width: 15%;
}

.answer_question_text {
  width: 60%;
}

.answer_question_right {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}
