.community-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  padding: 20px;
}

.recommendation-header {
  font-size: 24px;
  margin-bottom: 20px;
}

.communities {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.communities li {
  background-color: #d4a5a5;
  color: white;
  border-radius: 40px;
  padding: 1px;
  width: 150px;
  height: 55px;
  text-align: center;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.communities li:hover {
  background-color: #f4ebe9; 
  color: #8c6e6e; 
  border-color: #d4a5a5;
} 

.choose-more-text {
  font-size: 18px;
  margin-top: 50px;
  font-weight: bold;
}

.button-container {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #466694;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 50px;
}

button:hover {
  background-color: #466694;
}
