.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f7f7f7;
  }
  
  .container h2,
  .container p,
  .container h4,
  .container form {
    text-align: center;
    width: 100%;
    margin: 10px 0;
  }
  
  .user-button {
    padding: 10px 50px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  .user-button:hover {
    background-color: #0056b3;
  }
  
  .user-button:active {
    background-color: #003f7f;
  }
  