.home-page-container {
  display: flex;
  flex-direction: column;
  margin: 2%;
  height: 82vh;
  width: calc(100% - 15px);
}

.home-page-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-top: 17px;
  margin-bottom: 7px;
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid #333;
}

.home-content {
  display: flex;
  flex-grow: 1;
  gap: 1rem;
  padding: 10px;
}

.sidebar-container {
  flex: 1;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.questions-container {
  flex: 3;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}
