.sideBarNav {
  display: flex;
  flex-direction: column;
  width: 10%;
  border-right: solid;
  padding: 4% 0 4% 0;
  align-items: center;
}

.menu_button:first-child {
  margin-top: 0;
}

.menu_button {
  height: 40px;
  width: 80%;
  margin-top: 20px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  color: black; /* Set default text color */
  text-decoration: none; /* Remove underline from non-selected items */
}

.menu_selected {
  color: black; /* Ensure text color remains black */
  text-decoration: underline; /* Only selected item gets underline */
}