.community-info {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: flex-start; 
  width: 300%;
  padding: 20px;
  /* background-color: #f5f5f5; */
  box-sizing: border-box;
  height: 100%;
  position: relative;
}

.community-title {
  font-size: 26px;
  font-weight: bold;
  color: #333;
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
  margin-right: 20px;
}

.save-community-button {
  width: 160px;
  padding: 12px 25px;
  font-size: 1rem;
  color: white;
  background-color: #466694;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 10px;
  align-self: center; 
}

.community-pill {
  background-color: #6f4046;
  color: white;
  border-radius: 50px;
  margin: 5px;
  padding: 5px 10px;
  width: 160px;
  height: 50px;
  text-align: center;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.title-two {
  font-size: 26px;
  font-weight: bold;
  color: #333;
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
}

.save-community-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.save-community-button:hover:not(:disabled) {
  background-color: #324B73;
  transform: scale(1.02);
}
