.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 90vh;
  background-color:#f5f5f5;
  overflow-y: scroll;
}

.scrollable-container {
  width: 100%;
  height: 200px;
  overflow-y: scroll;
}

.ruled-paper {
  background-size: 100% 3em;
  background-color: #f5f5f5;
  flex-grow: 1;
  width: 100%;
  padding-top: 0.2rem;
  line-height: 1.2;
}


.carrot {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.community-title {
  margin: 0 auto;
  background: #6D89B0;
  text-align: start;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.chat-title {
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  white-space: nowrap;
}

.chat-header {
  background-color: #466694;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  width: 100%;
}

.chat-footer {
  background-color: #466694;
  color: #c6c6c6;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.user-name {
  font-size: 15px;
  color: #6b6b6b;
}

.user-name-me {
  font-size: 15px;
  color: #f0eded;
}

.chat-text-user, .chat-text-me {
  display: inline-block;
  font-size: 18px;
  max-width: 80%;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  padding: 3px 15px;
  margin-bottom: 10px;
  clear: both;
}

.chat-text-user {
  text-align: left !important;
  background: #cfcfcf;
  color: #000 !important;
  border-radius: 20px 20px 20px 3px;
  margin-left: 10px;
}

.chat-text-me {
  float: right;
  background: #DFAEA1;
  color: #fff !important;
  border-radius: 20px 20px 3px 20px;
  margin-right: 10px;
}

.username-chat {
  background: #6D89B0;
  color: white;
  font-size: 24px;
  max-width: 975px;
  font-weight: bold;
}

.username-chat::placeholder {
  color: white;
}

.search-bar-users {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.message {
  display: block;
  width: 100%;
}

.send {
  background: #6D89B0;
  border: none;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-right: 20px;
}

.send:hover {
  background-color: #546a8d;
}
.search-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0px;
  width: 100%;
  padding-top: 10px;
  box-sizing: border-box;
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  color: black;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  overflow: hidden;
}

.dropdown-item {
  padding: 8px 12px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #dce3ed;
  border-radius: 4px;
}