#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  /* background-color: #F5F5F5; */
  box-sizing: border-box; 
  background: #e9cdcd;
  height: 100px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  height: 40px;
  width: auto;
  margin-right: 30px;
}

#searchBar {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 30px;
  width: 5000px;
}

.icon-here {
  display: flex;
  align-items: center;
  color: #000000;
}

.icon-here.selected {
  color: #6f4046;
}

