.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10%;
  width: 100%;
  border-bottom: solid;
  background: #ffffff;
  padding: 0 30px;
}

.logout-button {
  padding: 8px 16px;
  cursor: pointer;
  background-color: #BABDE2;
  color: white;
  border: none;
  border-radius: 4px;
}

.logout-button:hover {
  background-color: #9498B5;
}

.title {
  font-size: 32px;
  font-weight: 800;
  text-align: center;
  flex: 1;
}

#searchBar {
  padding: 9px;
  margin-left: 20px;
  margin-right: 50px;
  width: 150px;
  border: 1.5px solid #ccc;
  border-radius: 4px;
}

/* commented out code below changes the layout of the header: stack overflow text on the left,
search bar in the middle, and logout button on the right !!! */

/* .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10%;
  width: 100%;
  border-bottom: solid;
  background: #ffffff;
  padding: 0 30px;
}

.title {
  font-size: 32px;
  font-weight: 800;
  font-family: 'Roboto', sans-serif;
  margin-right: auto; Pushes title to the far left
}

.search-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

#searchBar {
  padding: 6px;
  width: 40%; 
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
}

.logout-button {
  padding: 8px 16px;
  background-color: #BABDE2;
  color: white;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: 70px;
}

.logout-button:hover {
  background-color: #ff2a2a;
}
 */

