#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  /* background-color: #F5F5F5; */
  box-sizing: border-box; 
  border-bottom: 2px solid black;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  height: 40px;
  width: auto;
  margin-right: 10px;
}

#searchBar {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
}

/* update and use profile icon */
.icon {
  display: flex;
  align-items: center;
}
