.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.container h2,
.container p,
.container h4,
.container form {
  text-align: center;
  width: 100%;
  margin: 10px 0;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.user-button {
  padding: 10px 50px;
  font-size: 16px;
  background-color: #466694;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.user-button:hover {
  background-color: #324b73;
}

.user-button:active {
  background-color: #466694;
}
