.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
  }

  .button-group {
    display: flex;
    justify-content: center;
    gap: 20px; 
  }
  
  .user-button {
    padding: 10px 50px;
    font-size: 16px;
    background-color: #466694;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .user-button:hover {
    background-color: #324B73;
  }
  
  .user-button:active {
    background-color: #466694;
  }
  
  .logo-login {
    display: flex;
    justify-content: left;
    height: 40px;
    width: auto;
  }